{:deps {org.clojure/clojure {:mvn/version "1.10.0" :scope "provided"}
        org.clojure/clojurescript {:mvn/version "1.10.520" :scope "provided"}
        reagent/reagent {:mvn/version "0.9.0-rc2" :scope "provided"}
        re-frame/re-frame {:mvn/version "0.11.0-rc2" :scope "provided"}
        com.rpl/specter {:mvn/version "1.1.2"}
        maximgb/re-service {:mvn/version "1.0.4"}}

 :paths ["src/cljs"]

 :aliases {:fig   {:extra-deps {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                                com.bhauman/figwheel-main {:mvn/version "0.2.3"}}}


           :dev    {:extra-deps {org.clojure/core.async {:mvn/version "0.4.500"}}

                    :extra-paths ["resources" "target" "test" "examples/src"]}


           :bundle {:extra-paths ["target/public/js-out"]}


           :jar    {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                                  :sha "2769a6224bfb938e777906ea311b3daf7d2220f5"}}

                    :extra-paths ["target/public/js-out"]

                    :main-opts ["-m" "mach.pack.alpha.skinny" "-C:bundle" "--no-libs" "--project-path" "target/maximgb.re-state.jar"]}


           :deploy {:extra-deps {deps-deploy {:mvn/version "RELEASE"}}

                    :main-opts ["-m" "deps-deploy.deps-deploy" "deploy" "target/maximgb.re-state.jar"]}

           ;; - examples, run with :fig:examples -
           :examples           {:extra-paths ["target" "examples/src"]}


           :example-basic      {:main-opts ["-m"  "figwheel.main"
                                            "-co" "example.cljs.edn"
                                            "-O"  "advanced"
                                            "-o"  "docs/examples/basic/prod-main.js"
                                            "-c"  "maximgb.re-state.example.basic"]}


           :example-actions    {:main-opts ["-m"  "figwheel.main"
                                            "-co" "example.cljs.edn"
                                            "-O"  "advanced"
                                            "-o"  "docs/examples/actions/prod-main.js"
                                            "-c"  "maximgb.re-state.example.actions"]}


           :example-entry-exit {:main-opts ["-m"  "figwheel.main"
                                            "-co" "example.cljs.edn"
                                            "-O"  "advanced"
                                            "-o"  "docs/examples/entryexit/prod-main.js"
                                            "-c"  "maximgb.re-state.example.entryexit"]}

           :example-gauge      {:main-opts ["-m"  "figwheel.main"
                                            "-co" "example.cljs.edn"
                                            "-O"  "advanced"
                                            "-o"  "docs/examples/gauge/prod-main.js"
                                            "-c"  "maximgb.re-state.example.gauge"]}}}
