^{:watch-dirs ["src" "test" "examples/src"]
  :css-dirs ["resources/public"]
  :auto-testing true
  :extra-main-files {:basic-example {:main maximgb.re-state.example.basic}}}
{:main maximgb.re-state.core
 :source-map true
 :npm-deps false
 :foreign-libs [{:file "target/public/js-out/xstate_bundle.js"
                 :file-min "target/public/js-out/xstate_bundle.min.js"
                 :provides ["xstate"]
                 :global-exports {xstate XState}}]
 :externs ["target/public/js-out/externs.js"]}
