^{:watch-dirs ["src" "test"]
  :css-dirs ["resources/public"]
  :auto-testing false}
{:main maximgb.re-state.core
 :source-map "target/public/prod-main.cljs.map"
 :infer-externs true
 :npm-deps false
 :foreign-libs [{:file "target/public/js-out/xstate_bundle.js"
                 :provides ["xstate"]
                 :global-exports {xstate XState}}]}
